<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>主页面</title>
</head>
<style>
    body{
        background: url(img/a\ .png);
        -webkit-background-size: cover;
        -o-background-size: cover;                
        background-size: cover;
    }
    a{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
    }
    input{
        position: absolute;
        left: 50%;
        top: 45%;
        transform: translate(-50%,-50%);
    }
</style>
<body>
    <div class="form-group col-md-offset-9">
        <input type="text" placeholder="恋爱码">
       
        <a href="index.html" ><button>发起申请</button></a>
    </div>
</body>
</html>